<template>
  <div class="text-center">
    <img src="https://cdni.iconscout.com/illustration/premium/thumb/todo-list-2839461-2371075.png" alt="">
    <p class="text-sm text-gray-400">Add a Task to get started</p>
  </div>
</template>

<script>
export default {
  name: 'EmptyState'
}
</script>

<style scoped>

</style>