<template>
  <div v-for="task in remainingTasks"
       class="flex py-4 flex-row items-center shadow-lg rounded-xl border border-gray-100">
    <div :class="task.done ? 'bg-gray-400' : 'bg-blue-400'"
         class="mx-4 h-3 w-3 rounded-full"></div>
    <div class="flex-grow">
      <p class=""
         :class="task.done ? 'line-through text-gray-400': 'text-gray-900'">{{ task.text }}</p>
      <p class="text-xs text-gray-400">{{ task.date }}</p>
    </div>
    <div class="mx-4">
      <input type="checkbox" v-model="task.done" class="border-blue-500 rounded border-2">
    </div>
  </div>
  <hr>
  <div v-for="task in doneTasks"
       class="flex py-4 flex-row items-center shadow-lg rounded-xl border border-gray-100">
    <div :class="task.done ? 'bg-gray-400' : 'bg-blue-400'"
         class="mx-4 h-3 w-3 rounded-full"></div>
    <div class="flex-grow">
      <p class=""
         :class="task.done ? 'line-through text-gray-400': 'text-gray-900'">{{ task.text }}</p>
      <p class="text-xs text-gray-400">{{ task.date }}</p>
    </div>
    <div class="mx-4">
      <input type="checkbox" v-model="task.done" class="border-blue-500 rounded border-2">
    </div>
  </div>
</template>
<script>
export default {
  name: 'tasks',
  props: {
    doneTasks: {},
    remainingTasks: {}
  }
}
</script>