<template>
  <div class="relative h-screen">
    <div class="p-6 h-screen  overflow-y-scroll">
      <h2 class="font-bold text-gray-600 text-3xl">
        ToDo
        <span>({{remainingTasks.length + '/' + tasks.length }})</span>
      </h2>
      <div class="py-4">
        <input class="p-2 w-full rounded-lg border"
               v-model="newTask"
               type="text">
      </div>
      <empty-state v-if="tasks.length === 0"/>
      <div v-else class="flex flex-col space-y-4">
        <tasks :done-tasks="doneTasks" :remaining-tasks="remainingTasks"/>
      </div>
    </div>
    <button @click="addTask" class="absolute shadow-lg bottom-6 right-6 rounded-full w-14 h-14 bg-blue-600 text-white">
      <i class="ri-add-line text-2xl"></i>
    </button>
  </div>
</template>

<script>
import EmptyState from './components/EmptyState.vue'
import moment from 'moment'
import Tasks from './components/Tasks.vue'

export default {
  name: 'App',
  components: { Tasks, EmptyState },
  data: () => ({
    newTask: '',
    tasks: [
      {
        text: 'task 1',
        done: false,
        date: moment().format('Y-MM-DD H:mm:ss')
      },
      {
        text: 'task 2',
        done: true,
        date: moment().format('Y-MM-DD H:mm:ss')
      }
    ]
  }),
  computed: {
    remainingTasks() {
      return this.tasks.filter(task => !task.done)
    },
    doneTasks() {
      return this.tasks.filter(task => task.done)
    }
  },
  methods: {
    addTask () {
      const newTask = {
        text: this.newTask,
        done: false,
        date: moment().format('Y-MM-DD H:mm:ss')
      }
      this.tasks.push(newTask)
    }
  }
}
</script>